// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-grey: #F4F4F4;

// Benches colors
$midnight-blue: #191970;
$midnight: #161D24;
$grey-text: #B4B4B4;

.white-text {
  color: white;
}
