// Specific CSS for your home-page
body {
  background-color: #FFFFFF;
}

.bench-banner {
  background-size: cover;
  background-position: 60% 0;
}

.position-buttons {
  position: absolute;
  top: 224px;
  left: 100px;
}
