  <div class="vh-100 bench-banner" style="background-image: url(<%= asset_path 'bench_bench.jpeg' %>);">
    <div class="position-buttons">
      <%= link_to 'Explore benches', benches_path, class: "btn btn-mid btn-dark" %>
    </div>
  </div>
