.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  background: transparent;
  padding: 26px 0;
  border-radius: 0;
  box-shadow: none;
}

.mapboxgl-popup {
  max-width: 300px !important;
}

.mapboxgl-popup-tip {
  display: none;
}
